*{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

a{
    text-decoration: none;
}

header a{
    color: #ffffff;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.gap-4{
    gap: 16px;
}
.gap-2{
    gap:8px;
}
.gap-1{
    gap:4px;
}
.button{
    font-size: medium;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid transparent;
}
.button:hover{
    color: #ffffff;
    background-color: transparent;
    border: 1px #ffffff solid;
    cursor: pointer;
}
.button span{
    background: #ffffff;
    color: #000000;
}
.button:hover span{
    background: transparent;
    color: #ffffff;
}
.button-alt{
    font-size: medium;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid transparent;
}
.button-alt:hover{
    color: #000000;
    background-color: transparent;
    border: 1px #000000 solid;
    cursor: pointer;
}
.button-alt span{
    background: #000000;
    color: #ffffff;
}
.button-alt:hover span{
    background: transparent;
    color: #000000;
}



h1{
    font-size: 128px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
}
.bg-image{
    background-image: url("/static/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


header{
    padding:32px 64px;
    color: #ffffff;
}

.logo{
    width: 48px;
    height: 48px;
}


.hero{
    padding:96px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    color: #ffffff;
}
.hero p{
    color: #bbbbbb;
    width: 33%;
}
.hero a{
    width: fit-content;
}


.work{
    padding: 124px 64px;
    background: #ffffff;
    color:#000000;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.work .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.work div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.work .grid{
    gap: 24px;
}
.work .grid div img{
    width: 100%;
    border: #000000 1px solid;
}
.work .grid div a{
    text-decoration: none;
}
.work .grid div div{
    width: fit-content;
}

.about{
    padding: 124px 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000000;
    color: #ffffff;
    gap: 64px;
}
.about div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.about div img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.about div p{
    white-space: pre-line;
}
.about div div{
    width: fit-content;
}

.contact{
    padding: 124px 64px;
    background: #ffffff;
    color:#000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
}
.contact div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contact div div{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.contact input{
    padding: 20px;
    border: #000000 1px solid;
    color: #000000;
    padding: 16px;
}
.contact input::placeholder{
    color: #000000;
}
.contact textarea{
    width: 100%;
    height: 100px;
    resize: none;
    padding: 16px;
}
.contact div .button-div{
    width: fit-content;
}
.contact div p{
    width: 75%;
}
.footer{
    background: #000000;
    padding:32px 64px;
    color: #ffffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.footer div{
    display: flex;
    gap: 16px;
}
.footer a{
    color: #ffffff;
}