*{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000000;
}

.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
.gap-4{
    gap: 16px;
}
.gap-2{
    gap:8px;
}
.gap-1{
    gap:4px;
}
.button{
    font-size: medium;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid transparent;
}
.button:hover{
    color: #ffffff;
    background-color: #000000;
    border: 1px #ffffff solid;
    cursor: pointer;
}
.button span{
    background: #ffffff;
    color: #000000;
}
.button:hover span{
    background: #000000;
    color: #ffffff;
}
.button-alt{
    font-size: medium;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: 1px solid transparent;
}
.button-alt:hover{
    color: #000000;
    background-color: #ffffff;
    border: 1px #000000 solid;
    cursor: pointer;
}
.button span{
    background: #ffffff;
    color: #000000;
}
button:hover span{
    background: #ffffff;
    color: #000000;
}



h1{
    font-size: 128px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 24px;
}
.bg-image{
    background-image: url("/static/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header{
    padding:32px 64px;
    position: fixed;
    width: 100%;
    color: #ffffff;
}
.inner-header{
    border: #ffffff 1px solid;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding:24px;
}
.logo{
    width: 48px;
    height: 48px;
}


.hero{
    padding:0px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    color: #ffffff;
    height: 100vh;
}
.hero p{
    color: #bbbbbb;
    width: 33%;
}


.work{
    padding: 64px;
    background: #ffffff;
    color:#000000;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.work .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.work div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.work .grid{
    gap: 24px;
}
.work .grid div img{
    width: 100%;
    border: #000000 1px solid;
}
.work .grid div div a{
    text-decoration: none;
}
.work .grid div div{
    width: fit-content;
}